/*google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');


header {
  font-family: "Inconsolata", serif;
  text-align: center;
}
main {
  flex: 1 0 auto;
}

body {
  position: relative;
  background: url("/assets/images/yorkshire-landscape.jpg") center no-repeat fixed;
   background-color: lightgreen;
  font-family: "Inconsolata", serif;
  min-height: 100vh;
  display: flex;
    flex-direction: column;

}

#quiz {
  display: none;
}
#username {
  position: relative;
  box-sizing: border-box;
  background-color: lightgreen;
  width: 100%;
  max-width:600px;
  margin: auto;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#start-button {
background-color: #0f6a05;
border-radius: 20px;
border: none;
color: white;
padding: 1em;
}

#start-button:hover {
  background-color:#0f6a0582;
}
.game-area {
  position: relative;
 
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2em;
  background-color: lightgreen;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#question-text {
font-size: larger;
}
#options {
  display: flex;
  flex-direction: column;
}

#feedback {
  font-size: larger;
}

.choice {
  font-size: 1em;
  display: block;
  margin: 5px 5px;
  padding: .5em .75em;
  background-color: #0f6a05;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.choice:hover {
  background-color: #0f6a0582;
}

/*Footer */

footer {
  background-color: #0f6a05;
  text-align: center;
  margin-top: auto;
  font-size: larger;
}
#social-networks {
  font-size: x-small;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #91ed87;
}